body {
    background-color: #181A20;
    color: #fff;
}
/* 57FADF */
/* 每個容器 */
.container{
    margin: 1em auto;
    max-width: 1000px;
}

/* 導覽列 */
.navigation{
    display: flex;
    justify-content: space-between; /* 將兩個 div 放在一行，左右對齊 */
    align-items: center; /* 將兩個 div 垂直居中對齊 */
    color: white;
    padding: 10px;
}

#nav-header{
    max-width: 1600px;
}

.navigation .nav-link{
    color: #fff;
}

.navigation .nav-link:hover{
    color: #6088FF;
}

.navigation .nav-unit{
    padding: 1.2em;
}

.right-nav{
    display: flex;
}

/* 限價、市價 */
.nav-pills .nav-link.active{
    background-color: transparent;
    /* color: #57FADF; */
}
.nav-item .nav-link .order-select{
    color: #fff;
}